/* Ensure the overlay covers the entire screen */
.overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
  }
  
  /* Center the modal and ensure it appears on top of the overlay */
  .modal {
    position: fixed;
    top: 50%;
    left: 35%;
    transform: translate(-10%, -50%);
    z-index: 1001;
    width: 80%;
    max-width: 600px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
  }
  
  /* Style the content within the modal */
  .modal-content {
    padding: 20px;
    max-height: 80vh;
    overflow-y: auto;
  }
  
  /* Style the logo within the modal */
  .modal-logo {
    width: 100px;
    height: 100px;
    display: block;
    margin: 0 auto 20px auto;
  }
  
  /* Style the modal title */
  .modal-title {
    color: black;
    font-size: 2rem;
    text-align: center;
    margin-bottom: 20px;
  }
  
  /* Style the report details */
  #report-details {
    color: black;
  }
  
  /* Style the buttons within the modal */
  .modal-buttons {
    margin-top: 20px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
  
  /* Style individual buttons */
  .modal-button {
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-right: 10px;
    margin-top: 10px;
  }
  
  /* Style select dropdown */
  .modal-select {
    width: 60%;
    padding: 10px;
    margin: 10px ;
    height: 40px;
    border: 1px solid #ddd;
    border-radius: 4px;
  }
  
  /* Remove margin from the last button */
  .modal-button:last-child {
    margin-right: 0;
  }
  .send-report{
    display:flex;
    flex-direction:row;
    height: 50px;
    margin-bottom: 120px;
  }
  