.App{
    width: 100vw;
    height: 100vh;
    background-color: black;
    display: flex;
    flex-direction: column;
    padding: 0%;
    margin: 0%;
}
.the-navbar{
    width: 97vw;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 20px;
    color: white;
    height: 10%;
    border-bottom: white 1px solid;
}
.navlinks-cont{
    width: 45%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    height: 100%;
}
.navlink{
    height: 35%;
    padding: 0.5rem;
    justify-content: center;
    align-items: center;
    display: flex;
    text-decoration: none;
    border-radius: 0.5rem;
    border: white 1px solid;
    color: white;
    font-size: 0.9rem;
    font-family: 'Inter';
}
.navlink:focus{
    background-color: white;
    color: black;
}
.the-bottom{
    width: 50%;
    height: 80%;
    align-self: center;
    margin-top: 2%;
}
.new-request{
    width: 80%;
    height: 80%;
    display: flex;
    flex-direction: column;
}
select {
    width: 91%; /* Full width */
    height: 11%;
    padding: 8px 16px; /* Some padding */
    margin: 10px 0; /* Some space around the select */
    border: 1px solid #ffffff; /* Gray border */
    border-radius: 4px; /* Rounded borders */
    background-color: rgb(0, 0, 0); /* White background color */
    color: white;
    font-family: 'Montserrat';
    font-size: 1rem;
    opacity: 0.5;
}
select:focus {
    outline: none; /* Remove the default focus outline */
    border-color: #ffffff; /* Change border color on focus */
}
  
  /* You may want to style the option elements as well */
option {
    padding: 10px; /* Add some padding to the options */
    height: 1rem;
    width: 100%;
}
.desc{
    width: 90%;
    height: 40%;
    background: black;
    border: #ffffff solid 1px;
    border-radius: 0.5rem;
    margin-top: 2%;
}
.table-list{
    width: 70%;
    height: 80%;
    align-self: center;
    margin-top: 2%;
}
.listbox{
    width: 92%;
    height: 85%;
    border: #ffffff solid 1px;
    border-radius: 0.5rem;
    margin-top: 2%;
    overflow: scroll;
    scroll-behavior: smooth;
    overflow-x: hidden;
    overflow-y: auto;
}
.list-item{
    width: 98%;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    color: #ffffff;
    font-family: 'Inter';
    margin-right: 2rem;
    margin-top: 1%;
    border-bottom: #ffffff 1px solid;
}
.item{
    width: 98%;
    border-bottom: #ffffff 1px solid;
    height: 10%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 1rem;
    color: #ffffff;
}
.item p{
    font-size: 1rem;
    font-family: 'Inter';
    color: #ffffff;
}
.avatar-menu {
    position: absolute;
    top: 50px; /* Adjust this value to position the menu below the avatar */
    right: 0;
    background-color: white;
    border: 1px solid #ccc;
    padding: 10px;
    border-radius: 5px;
    z-index: 1;
}  